/*
* @Author: Marte
* @Date:   2018-10-22 15:58:38
* @Last Modified by:   Marte
* @Last Modified time: 2018-10-24 17:59:08
*/
.app {
  width: 500px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.comment-input {
    border:1px solid gray;
    padding:10px
}
ul,li{
    padding: 0;
    margin: 0;
    list-style:none;
}
ul{
    margin-top:20px;
    border:1px solid gray
}
li+li{
    border-top:1px solid gray
}
.name{
    color:red
}

.time{
    float: right;
}